force-app/main/default/flows/PMT_Mass_update_Task_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Tasks_To_Collection</name>
        <label>Add Tasks To Collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TaskListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PMT_Tasks_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PMT_Tasks_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PMT_Task_Status</name>
        <label>Assign PMT Task Status</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PMT_Tasks_Loop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tasks_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Flow on Project to update PMT Task status in Task Data table component due to limitations on component picklist field edit.</description>
    <dynamicChoiceSets>
        <name>PMTTaskStatusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>PMT_Task__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>PMT Mass Update Task Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT Mass Update Task Status</label>
    <loops>
        <name>PMT_Tasks_Loop</name>
        <label>PMT Tasks Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>LsPMTTasksSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PMT_Task_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PMT_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_PMT_Tasks</name>
        <label>Update PMT Tasks</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>TaskListToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0,
                0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsUpdatedSuccessfully</name>
            <fieldText>&lt;p&gt;Records updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mass_update_Task_Status</name>
        <label>Mass Update Task Status</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PMT_Tasks_Loop</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>PMTTaskStatusValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mass_update_Task_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IndividualTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LsPMTTasksSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>ModifiedSinglePMTTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>PMTTaskListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PMT task list passed from lightning component to update status</description>
        <name>PMTTaskListToUpdateStatuses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>SingleTaskToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>StatusSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Status</elementReference>
        </value>
    </variables>
    <variables>
        <name>TaskListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
</Flow>
