force-app/main/default/flows/PMT_Mass_update_Task_Assignee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_single_task_in_collection</name>
        <label>Add single task in collection</label>
        <locationX>550</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>TasksListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_each_input_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_To_value</name>
        <label>Assign Assigned To value</label>
        <locationX>547</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Assigned_To1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PMTProjectMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleTask.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_single_task_in_collection</targetReference>
        </connector>
    </assignments>
    <description>Flow active on Project to mass update PMT Task assignee in Task Datatable component due to component limitations on lookup edits.</description>
    <dynamicChoiceSets>
        <name>ProjectResourceChoice</name>
        <dataType>String</dataType>
        <displayField>Resource_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Resource_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PMT_Resource_Allocation__c</object>
        <outputAssignments>
            <assignToReference>PMTProjectMemberId</assignToReference>
            <field>Allocated_Resource_Id__c</field>
        </outputAssignments>
        <valueField>Resource_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Mass update PMT Assignee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT Mass update Task Assignee</label>
    <loops>
        <name>Iterate_each_input_task</name>
        <label>Iterate each input task</label>
        <locationX>327</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>SingleTask</assignNextValueToReference>
        <collectionReference>LsPMTTasksSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Assigned_To_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_tasks</name>
        <label>Update tasks</label>
        <locationX>321</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputReference>TasksListToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>306</locationX>
        <locationY>358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Recordsupdatedsuccessfully</name>
            <fieldText>&lt;p&gt;Records updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Assignee</name>
        <label>Update Assignee</label>
        <locationX>205</locationX>
        <locationY>56</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_each_input_task</targetReference>
        </connector>
        <fields>
            <name>New_Assignee</name>
            <choiceReferences>ProjectResourceChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Assignee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Update_Assignee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LsPMTTasksSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>PMTProjectMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PMTProjectMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>TasksListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
</Flow>
