force-app/main/default/flows/PMT_Mass_update_Task_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_value_in_record</name>
        <label>Update value in record</label>
        <locationX>702</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>SingleTaskToUpdate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tasks_with_status_selected</targetReference>
        </connector>
    </assignments>
    <description>Flow on Project to update PMT Task status in Task Datatable component due to limitations on component picklist field edit.</description>
    <dynamicChoiceSets>
        <name>PMTTaskStatusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>PMT_Task__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>PMT Mass update Task Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT Mass update Task Status</label>
    <loops>
        <name>Iterate_task_list</name>
        <label>Iterate task list</label>
        <locationX>346</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>IndividualTaskId</assignNextValueToReference>
        <collectionReference>PMTTaskListIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Task_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finished</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>521</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_value_in_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualTaskId</elementReference>
            </value>
        </filters>
        <object>PMT_Task__c</object>
        <outputReference>SingleTaskToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks_with_status_selected</name>
        <label>Update Tasks with status selected</label>
        <locationX>542</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Iterate_task_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IndividualTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Task__c</object>
    </recordUpdates>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>341</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsUpdatedSuccessfully</name>
            <fieldText>Records updated successfully</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mass_update_Task_Status</name>
        <label>Mass update Task Status</label>
        <locationX>166</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_task_list</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>PMTTaskStatusValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Mass_update_Task_Status</startElementReference>
    <status>Active</status>
    <variables>
        <name>IndividualTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModifiedSinglePMTTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>PMTTaskListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PMT task list passed from lightning component to update status</description>
        <name>PMTTaskListToUpdateStatuses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>SingleTaskToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>StatusSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Status</elementReference>
        </value>
    </variables>
    <variables>
        <name>TaskListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
</Flow>
